**1. Print the type of 42, 3.14, and 'hello'**

In [1]:
print(type(42))
print(type(3.14))
print(type('hello'))

<class 'int'>
<class 'float'>
<class 'str'>

**2. Convert a string '100' to an integer**

In [2]:
x = int('100')
x

100

**3. Add an integer and a float together. What is the result?**

In [5]:
2 + 2.0

# result is a float

4.0

**4. What happens when you try to multiply a string by a number?**

In [ ]:
num = 2
string = "hello world"
num*string

# string is printed 'num' times

'hello worldhello world'

### Challenge

- Asks the user to enter two numbers (as strings)
- Converts them to integers or floats
- Prints their sum and type

In [23]:
def add():
    nums = input("Enter two numbers sep by a comma")
    print(f"user input: {nums}")
    x,y = nums.split(",")
    try:
        result = int(x)+int(y)
        print(result)
        print(type(result))
    except ValueError:
        result = float(x)+float(y)
        print(result)
        print(type(result))

add()

user input: 2,2.0
4.0
<class 'float'>